 @media (max-width: 36em){
    header h1{
        font-size: 2em;
    }
}

@media (max-width: 25em){
    body{
        margin: .5em;
    }
    header{
        padding: 1em;
    }
    header h1{
        font-size: 1.5em;
    }
}