

/*========Golbale=========*/
html{
    font-family:'Open Sans', sans-serif;
    background-color: #e0f8d9;
}


/*========Header=========*/

header{
    background-color: #fff;
}

.header-grid{
    display:flex;
    border-bottom: solid #4e944e;
    align-items:center;
    justify-content: space-evenly;
}

.header-grid>*{
    margin: .5rem;
}

nav img{
    max-width: 3rem;
}
nav h1 {
    color: #4e944e;
    font-size: large;
}

nav a{
    text-decoration: none;
}

nav button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #4e944e;
    border: solid #4e944e;
}


nav ul{
    list-style: none;
    padding: 0; 
    margin: 0;
}

nav ul li a {
    max-width: 750px;
    margin: auto;
    display: block;
    padding: .8rem 2vw; 
    color: #fff;
    border-top: solid #fff;
    background-color: #72c863;
}

nav ul li a:hover{
    background-color: #c1f2b0;
    color: #4e944e;
}

.currentPage{
    background-color: #c1f2b0;
    color: #4e944e;
}


nav ul{display: none;}
nav ul.open{display: block;}

#hamburgerBtnNav span:nth-child(1){display: block;}
#hamburgerBtnNav span:nth-child(2){display: none;}

#hamburgerBtnNav.open span:nth-child(1){display: none;}
#hamburgerBtnNav.open span:nth-child(2){display: block;}




/*========Footer=========*/

footer{
    border-top: solid #4e944e;
    background-color: #fff;
}

footer>p{
    padding: 1rem;
}

footer div{
    display: grid;
}

footer section>div {
    display: flex;
}

footer h3{
    background: #4e944e;
    color: #fff;
    padding: .75rem;
    margin-top: 0%;
}

.centered-grid{
    align-items:center;
    justify-content: space-evenly;
}


footer div :nth-child(6){
    border-top: solid #4e944e;
    padding-top: 1rem;
    margin-bottom: 0;
}

.footerMap{
    border: 2px solid #4e944e;
    margin: .5rem;
}



/*========home==========*/

#weather{
    display: flex;
    justify-content: stretch;
}

#weather>*{
    border:solid #4e944e;
    flex: auto;
}

#weather>*>*{
    text-align: center;
}
#weather>*>img{
    display: block;
    margin: auto;
}

#weather div:nth-child(4), #weather div:nth-child(5){
    display: none;
}

main{
    background-color: #fff;
}

#callToAction>a{
    position: relative;
    top: 197px;
    right: -75px;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: #c1f2b0;
    border-radius: 25px;
    font-size: 1.5rem; 
}

.small-hide{
    display: none;
}

 #index-grid{
    max-width: 350px;
    margin: auto;
    
} 















/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  Medium view @@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (min-width:670px) {


/*========Golbale=========*/


/*========Header=========*/

 #primeryNav{
        max-width: 400px;
        margin-left: auto;
        position: absolute;
        top: 67px;
        right: 60px;
    }

main{ 
    position: relative;
}

/*========Footer=========*/



footer>p{
    text-align: center;
}

footer>div>section>p {
    padding: 1rem;
    text-align: center;
}

footer div {
    display: flex;
    justify-content:space-between;
    max-width: 750px;
    margin: auto;
    padding-top: 1rem;
}
.centered-grid{
    display: grid;
    padding: 1rem;
}

footer section{
    border:solid #4e944e;
}

#socialMidea{
    padding: 0;
}


/*=========Home=========*/
#index-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1rem;   
    justify-items: center;
}

#index-grid :nth-child(3){
    grid-column: 2/3;
}

#index-grid :nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/3;

}

#callToAction>a{
    top: 208px;
    right: -19px;
}

#index-grid{
    max-width: none;
    margin: auto;
    
} 




}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Large view @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (min-width:840px) {


    /*========Golbale=========*/


    /*========Header=========*/

    main{ 
        max-width:  750px;
        margin: auto;
    }

    #primeryNav{
        position:initial;
    }

    nav {
        max-width: 800px;
        margin: auto;
    }

    header{
        border-bottom: solid #4e944e;
    }

    nav h1{
        font-size: 3rem;
        margin: 0%;
    }

    .header-grid{
        border: none;
        justify-content: left;
    }
    
    nav button{
        display: none;
    }
    
    .navGrid > *{
        flex: 1;
    }
    #primeryNav > li{
        flex: 1;
        border: 1px solid #fff;
    }
    
    #primeryNav{
        display: flex;
        border-left: 1px solid #fff;
        max-width: 800px;
        margin: auto;
    }
    
    nav ul li a{
        border: none;
        border-right: 1px solid gba(0,0,0,0.3);
    }
    
    /*========Footer=========*/


    /*========home==========*/

    #weather div:nth-child(4), #weather div:nth-child(5){
        display: block;
    }
    
    #callToAction>a{
        top: 306px;
        right: -140px;
    }

    .small-hide{
        display: block;
    }


}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Extra Large view @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (min-width:980px) {


    /*========Golbale=========*/


    /*========Header=========*/


    main{ 
        max-width:  1100px;
        margin: auto;
    }

    #primeryNav{
        max-width: 100%;
        margin: auto;
        }   
  
    nav {
        max-width: 100%;
        margin: auto;
    }


/*========Footer=========*/

    footer div{
    display: grid;
    justify-content: stretch;
    max-width:  1100px;
    }

    .centered-grid{
        display: flex;
        padding: 1rem;
    }


    
}