

/*========Golbale=========*/
html{
    font-family:'Open Sans', sans-serif;
    background-color: #e0f8d9;
}
main{
    background-color: #fff;
    padding: 1rem ;
}

/*========Header=========*/

header{
    background-color: #fff;
}

.header-grid{
    display:flex;
    border-bottom: solid #4e944e;
    align-items:center;
    justify-content: space-evenly;
}

.header-grid>*{
    margin: .5rem;
}

nav img{
    max-width: 3rem;
}
nav h1 {
    color: #4e944e;
    font-size: large;
}

nav a{
    text-decoration: none;
}

nav button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #4e944e;
    border: solid #4e944e;
}


nav ul{
    list-style: none;
    padding: 0; 
    margin: 0;
}

nav ul li a {
    max-width: 750px;
    margin: auto;
    display: block;
    padding: .8rem 2vw; 
    color: #fff;
    border-top: solid #fff;
    background-color: #72c863;
}

nav ul li a:hover{
    background-color: #c1f2b0;
    color: #4e944e;
}

.currentPage{
    background-color: #c1f2b0;
    color: #4e944e;
}


nav ul{display: none;}
nav ul.open{display: block;}

#hamburgerBtnNav span:nth-child(1){display: block;}
#hamburgerBtnNav span:nth-child(2){display: none;}

#hamburgerBtnNav.open span:nth-child(1){display: none;}
#hamburgerBtnNav.open span:nth-child(2){display: block;}




/*========Footer=========*/

footer{
    border-top: solid #4e944e;
    background-color: #fff;
}

footer>p{
    padding: 1rem;
}

footer div{
    display: grid;
}

footer section>div {
    display: flex;
}

footer h3{
    background: #4e944e;
    color: #fff;
    padding: .75rem;
    margin-top: 0%;
}

.centered-grid{
    align-items:center;
    justify-content: space-evenly;
}


footer div :nth-child(6){
    border-top: solid #4e944e;
    padding-top: 1rem;
    margin-bottom: 0;
}

.footerMap{
    border: 2px solid #4e944e;
    margin: .5rem;
}



/*========home==========*/

#weather{
    display: flex;
    justify-content: stretch;
}

#weather>*{
    border:solid #4e944e;
    flex: auto;
}

#weather>*>*{
    text-align: center;
}
#weather>*>img{
    display: block;
    margin: auto;
}

#weather div:nth-child(4), #weather div:nth-child(5),#weather div:nth-child(6){
    display: none;
}


#callToAction>a{
    position: relative;
    top: 197px;
    right: -75px;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: #c1f2b0;
    border-radius: 25px;
    font-size: 1.5rem; 
}

.small-hide{
    display: none;
}

 #index-grid{
    max-width: 350px;
    margin: auto;
    
} 

/*=======Tempel======*/

.liked{
    background-color: red;
}

.hideTemple{
    display: none;
}

#cards{
    display: grid;
   
    justify-content: center;
    padding: 0.5rem;
}

#cards img{
    max-width: 350px;
   
}

#cards img:hover {
    box-shadow: 0 0 50px #333;

}

#cards>*{
    padding: 1rem;
    border: solid #4e944e;
    font-family: 'Open Sans', sans-serif;
    margin: 1rem 0 1rem 0;
    display: grid;
    justify-content: center;
}

#cards span{
    font-size: large;
    color: #4e944e;
}




/*=======Reservations=========*/

#form_title{
    text-align: center;
    font-size: 2rem ;
    margin-bottom: 0px;
  }

  form{
    padding: 1rem;
    margin: 0 auto;
    max-width:510px;
  }
  form fieldset{
      border-radius: 15px;
      margin-top: 1rem;
  }

  form legend{
      margin: 0 1rem;
      padding: 0 .5rem;
  }



 form div, .top_input{
    display: block;
    padding-top: 1rem;
    font-size: .8rem;
  }

  .top_input input, .top_input select{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .5rem 0 .5rem .5rem;
    color: #140B4C;
    width: 100%;
    max-width: 32rem;
    }

  .sbs_input{
    display: block;
    padding: .75rem;
    color: #555;
  }
  
  
  .submitBtn{
      border: none;
      background-color: #72c863;
      color: white;
      border-radius: 1rem;
      padding: .75rem 1.5rem;
      margin: 1rem 0 2rem 2%;
      width: 96%;
      max-width: 32rem;
  }


/*======services=======*/

.servicesMain{
    margin: auto;
}

#twoPgae-grid{
    display: grid;
}

#twoPgae-grid a{
    text-decoration: none;
}

#twoPgae-grid h3 {
    z-index: 2;
    padding: .75rem;
    background-color: #72c863;
    color: black;

}

#twoPgae-grid img{
    width: 100%;
}


/*==========templeMissaryers============*/


#suitesTable{
    text-align: center;
}



#suitesTable td{
   border :solid #4e944e; 
   }


.centerImg{
    display: grid;
}

.centerImg img{
    margin: auto;
    max-width: 350px;
}

#templeForm{
    max-width: 275px;
    margin: 0%;
}

#suites-greid div:nth-child(1){
    padding: 1rem;
}



/*========thankYouC=========*/

#thankYouC {
    text-align: center;
}
#thankYouC img{
    max-width: 350px;
}


/*========reception=========*/

#reception-grid{
   display: grid;
}
 
#reception-grid img{
    max-width: 350px;
}










/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  Medium view @@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (min-width:670px) {


/*========Golbale=========*/


/*========Header=========*/

 #primeryNav{
        max-width: 400px;
        margin-left: auto;
        position: absolute;
        top: 67px;
        right: 60px;
        z-index: 2;
    }



/*========Footer=========*/



footer>p{
    text-align: center;
}

footer>div>section>p {
    padding: 1rem;
    text-align: center;
}

footer div {
    display: flex;
    justify-content:space-between;
    max-width: 750px;
    margin: auto;
    padding-top: 1rem;
}
.centered-grid{
    display: grid;
    padding: 1rem;
}

footer section{
    border:solid #4e944e;
}

#socialMidea{
    padding: 0;
}


/*=========Home=========*/
#index-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1rem;   
    justify-items: center;
}

#index-grid :nth-child(3){
    grid-column: 2/3;
}

#index-grid :nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/3;

}

#callToAction>a{
    top: 208px;
    right: -19px;
}

#index-grid{
    max-width: none;
    margin: auto;
    
} 



/*=========servies=========*/

#twoPgae-grid{
    display: block;
}

#twoPgae-grid h3 {
    position: relative;
    top: 460px;
    right: -4px;
    text-align: center;
}

.servicesMain{
   max-width:750px;
}

#twoPgae-grid img{
    width: 100%;
}

/*=========ThankYouC============*/

#thankYouC img{
    max-width: 100%;
}



/*==========templeMissaryers============*/
.centerImg img{
    max-width: 100%;
}








}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Large view @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (min-width:1055px) {


    /*========Golbale=========*/


    /*========Header=========*/

    main{ 
        max-width:  1100px;
        margin: auto;
    }

    #primeryNav{
        position:initial;
    }

    nav {
        max-width: 100%;
        margin: auto;
    }

    header{
        border-bottom: solid #4e944e;
    }

    nav h1{
        font-size: 3rem;
        margin: 0%;
        
    }

    .header-grid{
        border: none;
        justify-content: left;
    }
    
    nav button{
        display: none;
    }
    
    .navGrid > *{
        flex: 1;
    }
    #primeryNav > li{
        flex: 1;
        border: 1px solid #fff;
    }
    
    #primeryNav{
        max-width: 100%;
        margin: auto;
        display: flex;
        border-left: 1px solid #fff;
    }
    
    nav ul li a{
        border: none;
        border-right: 1px solid rgb(0,0,0,0.3);
    }
    
    /*========Footer=========*/

    footer div{
        display: grid;
        justify-content: stretch;
        max-width:  1100px;
        }
    
        .centered-grid{
            display: flex;
            padding: 1rem;
        }


    /*========home==========*/

    #weather div:nth-child(4), #weather div:nth-child(5){
        display: block;
    }
    
    #callToAction>a{
        top: 306px;
        right: -140px;
    }

    .small-hide{
        display: block;
    }




/*======temples=========*/



/*=========servies=========*/
#twoPgae-grid h3 {
    top: 299px;
    right: -4px;
    display: inline;
}

.servicesMain{
    max-width:1100px;
 }

 #twoPgae-grid{
    display: flex;
    
}

#twoPgae-grid img{
    padding: 1rem;
    width: 500px;
}

.centerImg{
    display: block;
}
.centerImg img{
    max-width: 350px;
}

#suites-greid{
    display: flex;
    justify-content: center;
}


/*======reception========*/

#reception-grid{
    grid-template-columns: 10% 1fr 1fr;
 }


}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Extra Large view @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media only screen and (min-width:1255px) {


    /*========Golbale=========*/


    /*========Header=========*/


    /*========Footer=========*/


    
}